body {
  background-color: black;}
h1 {
  font-family: verdana;
  color: white;
  font-size: 50px;
  text-align: center;
}
p {
  font-family: Verdana;
  color: grey;
  font-size: 21px;
}
a {
  color: aquamarine;
  font-size: 16px;
}
